.panel.panel-default
  .panel-heading 
    %h3.panel-title TITLES
  %ul.list-group
    - titles.each do |title|
      %li.list-group-item #{title.text}
  .panel-footer
    = form_tag  titles_path, method: 'post' do
      .input-group
        = text_field_tag :text, '', class: 'form-control', type: 'text', placeholder: 'Suggest a title'
        = hidden_field_tag :show_id, @show.id
        %span.input-group-btn
          = button_tag(type: "submit", class: "btn btn-primary") do
            %span.glyphicon.glyphicon-plus